body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a { text-decoration:none; } 
a:hover { text-decoration:none; } 
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
fieldset, img { border:0; } 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; }
/*顶部栏*/
.go-navbar{
	position: relative;
	width:100%;
	height:35px;
	background-color:#333;
}
.go-navbar .go-r span, .go-navbar .go-l span{
	position: absolute;
	height:35px;
	padding:0 10px;
	color:#eee;
	line-height: 35px;
}
.go-navbar .go-l span{
	left:5px;
}
/*logo动画*/
.go-navbar .go-l:hover span{
	animation: go-logo 1.5s;
}
@keyframes go-logo{
	/*25% {
		transform: rotate(90deg);
		color:#99bbcc;
		font-family:"SimSun","KaiTi";
	}
	50% {
		transform: rotate(180deg);
		color:#99bbcc;
		font-family:"SimSun","KaiTi";
	}
	75% {
		transform: rotate(270deg);
		color:#99bbcc;
		font-family:"SimSun","KaiTi";
	}*/
	100% {
		transform: rotate(360deg);
		color:#ffffff;
	}
}
.go-navbar .go-r span{
	right:0px;
}
.go-navbar .go-r:hover span{
	background-color:#4477aa;
}
/*操作按钮-弹出列表*/
.go-navbar .go-r .go-nav-alert{
	position: absolute;
	right:0;
	top:35px;
	min-width: 130px;
	padding:10px;
	background-color:#ddd;
	display:none;
	box-shadow: -1px 1px 5px #666;
}
.go-navbar .go-r:hover .go-nav-alert{
	display:block;
}
.go-navbar .go-nav-alert li{
	padding:5px;
	color:#333;
}
.go-navbar .go-nav-alert li:hover{
	background-color:#4477aa;
	color:#eee;
}
/*左边菜单*/
.go-menu{
	position:absolute;
	top:35px;
	bottom:0px;
	width:140px;
	background-color:#bbb;
	transition:width .3s;
}
.go-menu ul{
	position:absolute;
	top:10px;
	width:140px;
}
.go-menu ul li{
	padding:8px 8px 8px 15px;
}
.go-menu ul li:hover{
	color:#eee;
	background-color:#4477aa;
}
/*菜单隐藏按钮*/
.go-menu .go-zfx{
	position:absolute;
	right:0px;
	bottom:0px;
	width:5px;
	height:100%;
	background-color:#333;
}
.go-menu .go-but{
	position:absolute;
	top:40%;
	right:-5px;
	width:15px;
	height:150px;
	border-radius:50%;
	background-color:#333;
}
/*显示隐藏 左边菜单栏*/
body>.active{
	transition:width .3s;
	width:5px;
}
body>.active>.go-zfx>.go-but{
	border-radius:50%;
}
body>.active>ul, body>.active>ul>li{
	display:none;
}
